{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Вход{% endblock %}</h1>
{% endblock %}

{% block content %}

  <form method="post" style="max-width: 600px;">
    <label for="username" class="form-label">Username</label>
    <input name="username" id="username" class="form-control mb-3" required>
    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" id="password" class="form-control mb-3" required>
    <input type="submit" class="btn btn-primary" value="Log In">
  </form>

{% endblock %}