{% extends 'base.html' %}

{% block header %}
  <p>Вы редактируете запись</p><h1>{% block title %} "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" style="max-width: 600px;">
    <label for="title" class="form-label">Заголовок</label>
    <input name="title" id="title" class="form-control mb-3" value="{{ request.form['title'] or post['title'] }}" required>
    <label for="body" class="form-label">Текст</label>
    <textarea name="body" id="body" class="form-control mb-3" style="height: 250px; resize: none;">{{ request.form['body'] or post['body'] }}</textarea>
    <input type="submit" value="Сохранить" class="btn btn-primary">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="btn btn-danger" type="submit" value="Удалить запись" onclick="return confirm('Вы уверены, что хотите удалить запись?');">
  </form>
{% endblock %}