<!doctype html>

<head>
  <title>{% block title %}{% endblock %} - Flaskr</title>
  <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/superhero/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" href="#">My Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          {% if g.user %}
          <span>{{ g.user['username'] }}</span>
          <a class="nav-link" href="href=" {{ url_for('auth.logout') }}">Выход</a>
          {% else %}
          <a class="nav-link" href="{{ url_for('auth.register') }}">Регистрация</a>
          <a class="nav-link" href="{{ url_for('auth.login') }}">Вход</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
  <section class="content container">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>


</body>