
<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="/">My Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% if g.user %}
        <span>{{ g.user['username'] }}</span>
        <a class="nav-link" href="href=" {{ url_for('auth.logout') }}">Выход</a>
        {% else %}
        <a class="nav-link" href="{{ url_for('auth.register') }}">Регистрация</a>
        <a class="nav-link" href="{{ url_for('auth.login') }}">Вход</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>